.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav nav";
}

nav{
    background: yellowgreen;
    grid-area: nav;
    font-size: 1.1em;
}
nav ul{
    background: slategray;
}
nav li{
    display: inline-flex;
    background:  salmon;
}




